<h1> Add Page </h1>

<ul *ngIf="setEnter">
  <li>
    <a id="control">
      Title : <input type="text" placeholder="Saisir le titre" [formControl]="title" size="50" >
    </a>
    <a id="control" required>
      Genre:  <select [formControl]="genre">
      <option value="" disabled selected > Choisir </option>
      <option value="Action">Action</option>
      <option value="Aventure">Aventure</option>
      <option value="Dramav">Drame</option>
      <option value="Comedy">Comédie</option>
      <option value="Thriller">Thriller</option>
      <option value="Fantastic">Fantastique</option>
      <option value="Horror">Horreur</option>
    </select>
    </a>
  </li>
  <li>
    <a id="control">
      Auteurs : <input type="text" placeholder="Saisir Auteur" [formControl]="autor" size="40" >
    </a>
    <a id="control">
      Acteurs : <input type="text" placeholder="Saisir Acteur" [formControl]="actor" size="40">
    </a>
    <a id="control">
      Released : <input type="text" placeholder="Date de sortie" [formControl]="Released">
    </a>
  </li>
  <li>
    <a id="control">
      Lien image: <input type="text" placeholder="Lien sur l'image" [formControl]="Poster" size="40">
    </a>
  </li>

  <li>
    <a>
      <button type="submit" (click)="addFilms()" > Ajouter le film </button>
    </a>
  </li>
</ul>
<ul *ngIf="setEnter==false">
  <li>
    <a href="">
      <H1> Bravo votre Film a bien été ajouté ! </H1>
        <h3> {{title}} </h3>
    </a>
  </li>
</ul>
