<h1> NetFilms </h1>

<ul >
  <li *ngFor="let film of films$ | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalRec }" >
    <a routerLink="/film/{{film._id}}"> {{film.Title}}</a>
    <ul>
      <li> Genre : {{film.genre}} Sortie : {{film.Released}}</li>
      <li> Auteur : {{film.Writer}}</li>
      <li> Avec {{film.Actors}} </li>
    </ul>
    <img src="{{film.Poster}}" height="100px" width="75px">
  </li>
</ul>


<pagination-controls (pageChange)="page = $event" (click)="getFilms()"></pagination-controls>
